apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata: 
 name: savings-app-hpa
spec:
 scaleTargetRef:
   apiVersion: apps/v1
   kind: Deployment
   name: savings-app
 minReplicas: 2
 maxReplicas: 3
 metrics: 
 - type: Resource
   resource:
     name: cpu
     target:
      type: Utilization
      averageUtilization: 50